$component_headline_background_color: rgba(#f4f5f5, .6);
$component_content_background_color: #fdfdfd;

$marker_font_color: #232323;
$content_font_color: #232323;
$component_underline_color: rgba(#a3acad, .6);

$purple-primary: #d367c1;