.checkbox {
    // display: grid;
    // grid-template-columns: min-content auto;
    // grid-gap: 0.5em;
    font-size: 2rem;
    color: $purple-primary;

    margin-right: 2rem;
    margin-left: 1rem;
    align-self: center;

	&__input {

        display: grid;
        grid-template-areas: "checkbox";

        * {
            grid-area: checkbox;
        }

        input {
            opacity: 0;
            width: 1em;
            height: 1em;

            &:checked + .checkbox__control svg {
                transform: scale(1);
            }

            &:focus + .checkbox__control {
                box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
                }
        }
        
	}
	
	&__control {
        display: inline-grid;
        width: 1em;
        height: 1em;
        border-radius: 0.25em;
        border: 0.1em solid currentColor;

        svg {
            transition: transform 0.1s ease-in 25ms;
            transform: scale(0);
            transform-origin: bottom left;
          }
	}
	
	// &__label {
	
	// }
}

.content__needed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all 200ms;


    &-checked {
        background-color: rgba($purple-primary, .1) !important;
        box-shadow: 0 .1rem .2rem rgba($purple-primary, .4) !important;
    }
}