.progress {
    width: 100%;
    padding: 0 10%;
    margin: 1rem 0;
    display: flex;

    align-items: center;
    position: relative;

    &--complete {

        &::after {
            content: "Completed & Implemented";
            font-size: 1.3rem;
            font-weight: 500;
            letter-spacing: 2px;
            color: #fff;
            
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            pointer-events: none;
    }

    
    }

    &__square {
        height: 2.4rem;
        width: 25%;
        font-size: 1.4rem;

        transition: all 200ms;

        border: 1px solid;
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        border-color: $purple-primary;
        background-color: $purple-primary;
        

        &--1 {
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
        }

        &--4 {
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;

        }
    }
}

.transparentBack {
    background: linear-gradient(90deg, rgba(191, 0, 0, .0) 0%, rgba(255, 81, 0, .0) 100%) !important;
}


/*
.progress {
    width: 100%;
    padding: 0 10%;
    margin: 1rem 0;
    display: flex;

    align-items: center;

    &__square {
        height: 2.25rem;
        width: 25%;
        font-size: 1.4rem;

        transition: all 200ms;

        border: 1px solid;
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &--1 {
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
            background: linear-gradient(90deg, rgba(191, 0, 0, .9) 0%, rgba(255, 81, 0, .9) 100%);
            border-color: red;
        }

        &--2 {
            background: linear-gradient(90deg, rgba(255, 81, 0, .9) 0%, rgba(255, 154, 0, .9) 100%);
            border-color: orange;
        }

        &--3 {
            background: linear-gradient(90deg, rgba(255, 154, 0, .9) 0%, rgba(249, 255, 0, .9) 100%);
            border-color: yellow;
        }

        &--4 {
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;

            background: linear-gradient(90deg, rgba(249, 255, 0, .9) 0%, rgba(35, 255, 0, .9) 100%);
            border-color: green;
        }
    }
}

.transparentBack {
    background: linear-gradient(90deg, rgba(191, 0, 0, .0) 0%, rgba(255, 81, 0, .0) 100%) !important;
}

.transparentBorder {
    border: none !important;
}

*/